/* CSS BY Azriele Tingle */


/* IMPORTED FONTS*/
/* IMPORT "INTER" FROM GOOGLE FONTS"
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ROOT VARIABLES */
:root {
    --blue: #007BFF;
    --red: #FF4500;
    --white: #EAEAEA;
    --black: #000000;
    --charcoal: #333333;
    --font: "Inter", sans-serif;
}

/* GLOBAL STYLES (MOBILE FIRST (SMALL) */
header{
    display: flex;
    color: #007BFF;
    background-color: #000000;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    align-items: center;
    position: relative;
    z-index: 2;
    box-shadow: 0 5px 5px #007BFF;
}

body{
    font-family: var(--font);
    min-width: 400px;
}

h1{
    font-family: 'Inter';
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    gap: 0.75rem;
    margin-bottom: 2rem;
}

h1 .logo{
    width: 2rem;
    height: 2rem;
}

nav ul{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    font-weight: bold;
}

nav ul li a{
    text-decoration: none;
    color: #007BFF;
    padding: 1rem;
}

nav ul li a:hover{
    background-color: #007BFF;
    color: #000000;
}
/* MIN-WIDTH OF THE PAGE SHOULD NOT GO BELOW 400PX */

/* ADD A DIV WITH THE CLASS OF CONTAINER TO EVERY CONTENT CONTAINER THIS IS ALLOW THE BASE ELEMENTS TO BE 100% WIDTH, BUT CONSTRAIN THE ACTUAL CONTENT TO 90% */
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

/* ADD TO "INNOVATION & INVESTMENT SECTION (Photo by Kevin Matos on Unsplash) */
 #innovation{
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('images/vanguard-hero.jpg') no-repeat center center/cover;
    height: 80vh;
    display: flex;
    flex-direction: column;
    place-items: center;
    text-align: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    color: #EAEAEA;
    padding: 2rem;
}

#innovation h2{
    font-weight: bold;
    margin-bottom: 1rem;
}

#innovation p{
    max-width: 600px;
    font-size: 0.75em;
    margin: 0 auto;
}

#innovation button{
    padding: 0.5rem 0.5rem;
    margin-top: 10px;
    font-weight: bold;
    color: #EAEAEA;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#services{
    padding: 2rem;
}

#services h2{
    font-weight: bold;
    margin-bottom: 0.5rem;
}

#services p{
    font-size: 0.75em;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.services-grid{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    max-width: 1000px
}

.services-grid article{
    background-color: #007BFF;
    color: #EAEAEA;
    padding: 1rem;
    border-radius: 5px;
}


/* ADD FLOATING SVG LOGO BEFORE THE H1 */
 h1 .logo before{
    content: "";
    position: absolute;
    left:-.5rem;
    width: 3.75rem;
    height: 3.75rem;
    background: url('images/vanguard-logo.svg') no-repeat center/contain;

}

#results{
    background-color: #007BFF;
    color: #EAEAEA;
    padding: 2rem;
}

#results h2{
    font-weight: bold;
    margin-bottom: 0.5rem;
}

#results p{
    font-size: 0.75em;
    margin-bottom: 0.5rem;
}

#results h3{
    font-weight: bold;
}

#results table{
    width: 50%;
    margin: 2rem 0;
    text-align: center;
    font-size: 0.5em;
}

#results table th, #results table td{
    padding: 0.75rem;
    border: 1px solid #333333;
    background-color: #000000;
}

#contact{
    background-color: #000000;
    color: #EAEAEA;
    padding: 2rem;
}

#contact h2{
    font-weight: bold;
    margin-bottom: 0.5rem;
}

#contact p{
    font-size: 0.75em;
    margin-bottom: 0.5rem;
}

form label{
    display: block;
    margin-top: 1rem;
}

#contact form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

#contact button{
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
}

footer{
    background-color: #000000;
    color: #EAEAEA;
    text-align: center;
    font-size: 0.75em;
    line-height: 1.5em;
}

footer a{
    text-decoration: none;
    color: #EAEAEA;
}
/* THIS ONE IS DONE FOR YOU */
#bar-chart {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: flex-end;
    justify-content: space-around;
    gap: 1rem;
    height: 300px;
    width: 100%;
    max-width: 800px;
    padding: 1rem;
    position: relative;
}
/* ADD ON TRANSITION ON HEIGHT */
.bar {
    width: 50px;
    background: var(--charcoal);
    border-radius: 10px;
    position: relative;
    transition: height 0.5s ease;
    height: 0;
}
/* THIS ONE IS DONE FOR YOU */
.bar::after {
    content: attr(data-year);
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1rem;
    font-weight: bold;
    color: var(--white);
}
@keyframes stepUp {
    0% {
        height: 0;
    }
    100% {
        height: var(--height);
    }
}
/* ADD ANIMATION ON stepUp for 1s ease-in-out forwards */
.bar {
    animation: stepUp 1s ease-in-out forwards;
}

/* I cannot for the life of me figure out how to get the media queries down this time. it's such a struggle ): */ 
/* MEDIA QUERIES (MEDIUM) */ 
@media (min-width: 800px){
    .services-grid{
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

    .services-grid h2{
        grid-column: 1 / -1;
    }

    #results {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }


    #results table {
        width: 50%;
    }

    #results table tr td, #results table tr th{
        padding: 1.5rem 1rem;
    }

    nav{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        width: 100%;
    }

    nav ul{
        display: flex;
    }

    .bar-chart {
        width: 50%;
    }
}

/* MEDIA QUERIES (LARGE) */
@media (min-width: 1024px){
    .services-grid{
        grid-template-columns: repeat(3, 1fr);
        align-content: center;
        margin: 0 auto;
    }
}
